@import "../../style.scss";

.post {
  @include themify($themes) {

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");   
    margin-bottom: 25px;

    .container {
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 15px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 600;
            }

            .date {
              font-size: 12px;
              color: themed("textColorSoft");
            }
          }
        }
      }

      .content {
        margin: 20px 0;

        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
          margin-top: 15px;
          border-radius: 15px;  // cleaner look
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 25px;

        .item {
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          font-size: 14px;
          color: themed("textColorSoft");
          transition: 0.3s;
        }
      }
    }
  }
}