@import "../../style.scss";

.home {
  @include themify($themes) {
    flex: 1;
    background: themed("bgSoft");
    color: themed("textColor");

    padding: 20px;
    min-height: calc(100vh - 65px);
    @include mobile {
      padding: 10px
    }
    @include tablet {
        padding: 20px;
      }
  }
}
